{{- $params := .Scratch.Get "params" -}}

<div class="post-footer" id="post-footer">
    <div class="post-meta-line">
        {{- with .Params.Tags -}}
            <span class="single-tag">
            {{- range $index, $el := . -}}
                {{- if gt $index 0 }}
                    <span class="separator"> </span>
                {{- end }}
                <a href='{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}'>#{{ . }}</a>
            {{- end -}}
            </span>
        {{- end -}}
    </div>

    <div class="post-info">
        <div class="post-info-line">
            <div class="post-info-link">
                <a href='/about'>About Me</a>
            </div>
        </div>
        <div class="post-info-line">
            <div class="post-info-md">
                {{- if  .IsPage -}}
                    {{- $post_info := slice -}}
                    {{- if $params.linktomarkdown -}}
                        {{- with .OutputFormats.Get "markdown" -}}
                            {{- $d := dict "class" "link-to-mardown" "link" .RelPermalink "text" "readMarkdown" -}}
                            {{- $post_info = $post_info | append $d -}}
                        {{- end -}}
                    {{- end -}}
                    {{- with $params.linktosource -}}
                        {{- $link := replace . "{path}" $.File.Path -}}
                        {{- $d := dict "class" "link-to-source" "link" $link "text" "viewSource" -}}
                        {{- $post_info = $post_info | append $d -}}
                    {{- end -}}
                    {{- with $params.linktoedit -}}
                        {{- $link := replace . "{path}" $.File.Path -}}
                        {{- $d := dict "class" "link-to-edit" "link" $link "text" "editThisPage" -}}
                        {{- $post_info = $post_info | append $d -}}
                    {{- end -}}
                    {{- with $params.linktoreport -}}
                        {{- $link := replace . "{title}" ($.Title | urlquery) -}}
                        {{- $link := replace $link "{url}" $.Permalink -}}
                        {{- $link := replace $link "{path}" $.File.Path -}}
                        {{- $d := dict "class" "link-to-report" "link" $link "text" "reportThisPage" -}}
                        {{- $post_info = $post_info | append $d -}}
                    {{- end -}}
                    {{- range $index, $value := $post_info -}}
                    <span>
                        {{- if gt $index 0 -}}
                            |&nbsp;
                        {{- end -}}
                        <a class="{{ $value.class }}" {{ printf "href=%v" $value.link | safeHTMLAttr }} target="_blank" rel="noopener noreferrer">
                            {{- T $value.text -}}
                        </a>
                    </span>
                    {{- end -}}
                {{- end -}}
            </div>
            <div class="post-info-share">
                <span>
                    {{- partial "plugin/share.html" . -}}
                </span>
            </div>
        </div>
    </div>

    {{- if $params.pageSection -}}
    <div class="post-nav">
        {{- if .PrevInSection -}}
            <a href="{{ .PrevInSection.RelPermalink }}" class="prev" rel="prev" title="{{ .PrevInSection.Title }}"><i class="fas fa-angle-left fa-fw"></i>{{ .PrevInSection.Title }}</a>
        {{- end -}}
        {{ if .NextInSection }}
            <a href="{{ .NextInSection.RelPermalink }}" class="next" rel="next" title="{{ .NextInSection.Title }}">{{ .NextInSection.Title }}<i class="fas fa-angle-right fa-fw"></i></a>
        {{- end -}}
    </div>
    {{- end -}}
</div>
