.tag-cloud-tags {
  margin: 10px 0;

  @include link(true, true);

  a {
    border: solid;
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    margin: 6px 10px;
    @include overflow-wrap(break-word);
    @include transition(all ease-out 0.3s);

    sup {
      color: $global-font-secondary-color;

      [theme=dark] & {
        color: $global-font-secondary-color-dark;
      }
    }
  }
}
