{{- $params := .Scratch.Get "params" -}}
{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $config := (.Scratch.Get "this").config -}}
{{- $bundle := .Site.Params.bundle -}}

{{- /* Search */ -}}
{{- if .Site.Params.search | and .Site.Params.search.enable -}}
    {{- $search := .Site.Params.search -}}
    {{- $source := $cdn.autocompleteJS | default "lib/autocomplete/autocomplete.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $config = dict "maxResultLength" $search.maxResultLength "snippetLength" $search.snippetLength "highlightTag" $search.highlightTag "noResultsFound" (T "noResultsFound") | dict "search" | merge $config -}}
    {{- if eq $search.type "algolia" -}}
        {{- $source := $cdn.algoliasearchJS | default "lib/algoliasearch/algoliasearch-lite.umd.min.js" -}}
        {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
        {{- $config = dict "type" "algolia" "algoliaIndex" $search.algolia.index "algoliaAppID" $search.algolia.appID "algoliaSearchKey" $search.algolia.searchKey | dict "search" | merge $config -}}
    {{- else if eq $search.type "fuse" -}}
        {{- with .Site.Home.OutputFormats.Get "json" -}}
            {{- $config = dict "type" "fuse" "fuseIndexURL" .RelPermalink | dict "search" | merge $config -}}
        {{- end -}}
        {{- $source := $cdn.fuseJS | default "lib/fuse/fuse.min.js" -}}
        {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
        {{- $config = dict "isCaseSensitive" $search.fuse.isCaseSensitive "minMatchCharLength" $search.fuse.minMatchCharLength "findAllMatches" $search.fuse.findAllMatches "location" $search.fuse.location "threshold" $search.fuse.threshold "distance" $search.fuse.distance "ignoreLocation" $search.fuse.ignoreLocation "useExtendedSearch" $search.fuse.useExtendedSearch "ignoreFieldNorm" $search.fuse.ignoreFieldNorm | dict "search" | merge $config -}}
    {{- end -}}
{{- end -}}

{{- /* lazysizes */ -}}
{{- if $bundle -}}
{{- else -}}
    {{- $source := $cdn.lazysizesJS | default "lib/lazysizes/lazysizes.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- end -}}

{{- $code := $params.code | default dict -}}
{{- $config = cond (ne $code.maxShownLines nil) $code.maxShownLines 10 | dict "maxShownLines" | dict "code" | merge $config -}}

{{- /* Cookie Consent */ -}}
{{- if .Site.Params.cookieconsent | and .Site.Params.cookieconsent.enable -}}
    <div id="cookieconsent-container"></div>
    {{- $source := $cdn.cookieconsentCSS | default "lib/cookieconsent/cookieconsent.min.css" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/style.html" -}}
    {{- $source := $cdn.cookieconsentJS | default "lib/cookieconsent/cookieconsent.min.js" -}}
    {{- dict "Source" $source "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
    {{- $cookieconsentConfig := dict "popup" (dict "background" "#1aa3ff") "button" (dict "background" "#f0f0f0") | dict "theme" "edgeless" "palette" -}}
    {{- $cookieconsentConfig = .Site.Params.cookieconsent | merge $cookieconsentConfig -}}
    {{- $cookieconsentConfig = dict "message" ($cookieconsentConfig.content.message | default (T "cookieconsentMessage")) "dismiss" ($cookieconsentConfig.content.dismiss | default (T "cookieconsentDismiss")) "link" ($cookieconsentConfig.content.link | default (T "cookieconsentLink")) | dict "content" | merge $cookieconsentConfig -}}
    {{- $config = $cookieconsentConfig | dict "cookieconsent" | merge $config -}}
    {{- $shims := dict "cookieconsent" "js/shims/cookieconsent.js" -}}
    {{- $options := dict -}}
    {{- $options = dict "targetPath" "js/cookieconsent.min.js" | merge $options -}}
    {{- $options = dict "minify" true | merge $options -}}
    {{- $options = dict "shims" $shims | merge $options -}}
    {{- $js := resources.Get "js/lib/cookieconsent.js" | js.Build $options -}}
    {{- $_ := $js.RelPermalink -}}
    {{- dict "Link" $js.RelPermalink "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxScript.html" -}}
{{- end -}}

{{- range $params.library.css -}}
    {{- /* Check if it is string for compatibility */ -}}
    {{- /* somecss = "src" */ -}}
    {{- /* [params.page.library.css.somecss] */ -}}
    {{- /*   src = "src" */ -}}
    {{- /*   defer = true */ -}}
    {{- /*   attr = "attr" */ -}}
    {{- if eq (printf "%T" . ) "string" -}}
        {{- dict "Source" . "Fingerprint" $fingerprint | dict "Scratch" $.Scratch "Data" | partial "scratch/style.html" -}}
    {{- else -}}
        {{- dict "Source" .src "Fingerprint" $fingerprint "Defer" .defer "Attr" .attr | dict "Scratch" $.Scratch "Data" | partial "scratch/style.html" -}}
    {{- end -}}
{{- end -}}

{{- range $params.library.js -}}
    {{- /* Check if it is string for compatibility */ -}}
    {{- /* somejs = "src" */ -}}
    {{- /* [params.page.library.js.somejs] */ -}}
    {{- /*   src = "src" */ -}}
    {{- /*   async = true */ -}}
    {{- /*   defer = true */ -}}
    {{- /*   attr = "attr" */ -}}
    {{- if eq (printf "%T" . ) "string" -}}
        {{- dict "Source" . "Fingerprint" $fingerprint | dict "Scratch" $.Scratch "Data" | partial "scratch/pjaxScript.html" -}}
    {{- else -}}
        {{- dict "Source" .src "Fingerprint" $fingerprint "Defer" .defer "Async" .async "Attr" .attr| dict "Scratch" $.Scratch "Data" | partial "scratch/pjaxScript.html" -}}
    {{- end -}}
{{- end -}}

{{/*  Custom style  */}}
{{- with (.Scratch.Get "this").styleArr -}}
    {{- $content := delimit . "" -}}
    {{- $path := substr (md5 $content) 0 6 | printf "css/%v" -}}
    {{- $options := printf "%v.min.css" $path | dict "targetPath" -}}
    {{- dict "Content" $content "Path" (printf "%v.scss" $path) "ToCSS" $options | dict "Scratch" $.Scratch "Data" | partial "scratch/pjaxStyle.html" -}}
{{- end -}}

{{- /* pjax */ -}}
{{- $source := $cdn.pjaxJS | default "lib/pjax/pjax.min.js" -}}
{{- dict "Source" $source "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- $_ := (resources.Get "lib/pjax/pjax.min.js.map").RelPermalink -}}

{{- /* Theme script */ -}}
{{- $options := dict -}}
{{- $options = dict "targetPath" "js/theme.min.js" | merge $options -}}
{{- $options = dict "minify" true | merge $options -}}
{{- $shims := dict -}}
{{- if $bundle -}}
{{- else -}}
    {{- $shims = dict "lazysizes" "js/shims/lazysizes.js" | merge $shims -}}
    {{- /* $shims = dict "clipboard" "js/shims/clipboard.js" | merge $shims */ -}}
    {{- $options = dict "shims" $shims | merge $options -}}
{{- end -}}
{{- if hugo.IsProduction -}}
{{- else -}}
    {{- $options = dict "sourceMap" "inline" | merge $options -}}
{{- end -}}
{{- $js := resources.Get "js/theme.js" | js.Build $options -}}
{{- $_ := $js.RelPermalink -}}
{{- dict "Link" $js.RelPermalink "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}

{{- with (.Scratch.Get "this").scriptArr -}}
{{- delimit . "\n" | dict "Content" | dict "Scratch" $.Scratch "Data" | partial "scratch/pjaxScript.html" -}}
{{- end -}}

{{- /* Config script */ -}}
{{- $config | jsonify | printf "window.config=%s;" | dict "Content" | dict "Scratch" .Scratch "Data" | partial "scratch/configScript.html" -}}

<div class="assets">    
    {{- range (.Scratch.Get "this").style -}}
        {{- partial "plugin/style.html" . -}}
    {{- end -}}
    
    {{- range (.Scratch.Get "this").script -}}
        {{- partial "plugin/script.html" . -}}
    {{- end -}}
    
    {{- partial "plugin/analytics.html" . -}}
</div>

<div class="pjax-assets">
    {{- range (.Scratch.Get "this").configScript -}}
        {{- partial "plugin/script.html" . -}}
    {{- end -}}

    {{- range (.Scratch.Get "this").pjaxScript -}}
        {{- partial "plugin/script.html" . -}}
    {{- end -}}

    {{- range (.Scratch.Get "this").pjaxStyle -}}
        {{- partial "plugin/style.html" . -}}
    {{- end -}}
</div>
