{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}
{{- $comment := .Scratch.Get "comment" | default dict -}}
{{- $commentConfig := dict -}}
{{- $bundle := .Site.Params.bundle -}}

{{- if $comment.enable -}}
    <div id="comments">
        {{- /* Waline Comment System */ -}}
        {{- $waline := $comment.waline | default dict -}}
        {{- if $waline.enable -}}
            <div id="waline" class="comment"></div>
            {{- $source := $cdn.walineCSS | default "lib/waline/waline.css" -}}
            {{- dict "Source" $source "Minify" true "Fingerprint" $fingerprint | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxStyle.html" -}}
            {{- $commentConfig = dict "el" "#waline" "serverURL" $waline.serverURL "lang" .Lang "dark" "body[theme='dark'], body[theme='black']" "copyright" true | dict "waline" | merge $commentConfig -}}
            {{- with $waline.pageview -}}
                {{- $commentConfig = dict "pageview" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- with $waline.comment -}}
                {{- $commentConfig = dict "comment" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- with $waline.emoji -}}
                {{- $commentConfig = dict "emoji" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- with $waline.meta -}}
                {{- $commentConfig = dict "meta" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- with $waline.requiredMeta -}}
                {{- $commentConfig = dict "requiredMeta" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- with $waline.login -}}
                {{- $commentConfig = dict "login" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- with $waline.wordLimit -}}
                {{- $commentConfig = dict "wordLimit" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- with $waline.pageSize -}}
                {{- $commentConfig = dict "pageSize" . | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- if eq $waline.imageUploader false -}}
                {{- $commentConfig = dict "imageUploader" false | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- if eq $waline.highlighter false -}}
                {{- $commentConfig = dict "highlighter" false | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- if eq $waline.texRenderer false -}}
                {{- $commentConfig = dict "texRenderer" false | dict "waline" | merge $commentConfig -}}
            {{- end -}}
            {{- $shims := dict "@waline/client" "js/shims/waline.js" -}}
            {{- $options := dict -}}
            {{- if $bundle -}}
            {{- else -}}
                {{- $source := $cdn.walineJS | default "lib/waline/waline.js" -}}
                {{- dict "Source" $source "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxScript.html" -}}
                {{- $options = dict "shims" $shims | merge $options -}}
            {{- end -}}
            {{- $options = dict "targetPath" "js/waline.min.js" | merge $options -}}
            {{- $options = dict "minify" true | merge $options -}}
            {{- $js := resources.Get "js/lib/waline.js" | js.Build $options -}}
            {{- $_ := $js.RelPermalink -}}
            {{- dict "Link" $js.RelPermalink "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxScript.html" -}}        
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://waline.js.org/">Waline</a>.
            </noscript>
        {{- end -}}

        {{- /* Commento Comment System */ -}}
        {{- $commento := $comment.commento | default dict -}}
        {{- if $commento.enable -}}
            <div id="commento"></div>
            {{- dict "Source" "https://cdn.commento.io/js/commento.js" "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxScript.html" -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://commento.io/">Commento</a>.
            </noscript>
        {{- end -}}

        {{- /* Twikoo Comment System */ -}}
        {{- $twikoo := $comment.twikoo | default dict -}}
        {{- if $twikoo.enable -}}
            <div id="twikoo"></div>
            {{- $shims := dict "twikoo" "js/shims/twikoo.js" -}}
            {{- $options := dict -}}
            {{- $options = dict "targetPath" "js/twikoo.min.js" | merge $options -}}
            {{- $options = dict "minify" true | merge $options -}}
            {{- if $bundle -}}
            {{- else -}}
                {{- $source := $cdn.twikooJS | default "lib/twikoo/twikoo.all.min.js" -}}
                {{- dict "Source" $source "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxScript.html" -}}
                {{- $options = dict "shims" $shims | merge $options -}}
            {{- end -}}
            {{- $js := resources.Get "js/lib/twikoo.js" | js.Build $options -}}
            {{- $_ := $js.RelPermalink -}}
            {{- dict "Link" $js.RelPermalink "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxScript.html" -}}
            {{- $commentConfig = dict "el" "#twikoo" "envId" $twikoo.envId | dict "twikoo" | merge $commentConfig -}}
            {{- $commentConfig = dict "lang" .Lang | dict "twikoo" | merge $commentConfig -}}
            {{- with $twikoo.region -}}
                {{- $commentConfig = dict "region" . | dict "twikoo" | merge $commentConfig -}}
            {{- end -}}
            {{- with $twikoo.path -}}
                {{- $commentConfig = dict "path" . | dict "twikoo" | merge $commentConfig -}}
            {{- end -}}
            {{- with $twikoo.commentCount -}}
                {{- $commentConfig = dict "commentCount" . | dict "twikoo" | merge $commentConfig -}}
            {{- end -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://twikoo.js.org/">Twikoo</a>.
            </noscript>
        {{- end -}}

        {{- /* giscus Comment System */ -}}
        {{- $giscus := $comment.giscus | default dict -}}
        {{- if $giscus.enable -}}
            <div id="giscus"></div>
            {{- $commentConfig = dict "dataRepo" $giscus.dataRepo | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = dict "dataRepoId" $giscus.dataRepoId | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = dict "dataCategory" $giscus.dataCategory | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = dict "dataCategoryId" $giscus.dataCategoryId | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = dict "dataInputPosition" $giscus.dataInputPosition | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.dataMapping | default "pathname" | dict "dataMapping" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.dataReactionsEnabled | default "1" | dict "dataReactionsEnabled" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.dataEmitMetadata | default "0" | dict "dataEmitMetadata" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.dataInputPosition | default "bottom" | dict "dataInputPosition" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.customTheme | default "light" | dict "customTheme" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.lightTheme | default "light" | dict "lightTheme" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.darkTheme | default "dark" | dict "darkTheme" | dict "giscus" | merge $commentConfig -}}
            {{- $commentConfig = $giscus.dataLang | default "en" | dict "dataLang" | dict "giscus" | merge $commentConfig -}}
            {{- $options := dict "targetPath" "js/giscus.min.js" "minify" true -}}
            {{- $js := resources.Get "js/lib/giscus.js" | js.Build $options -}}
            {{- $_ := $js.RelPermalink -}}
            {{- dict "Link" $js.RelPermalink "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/pjaxScript.html" -}}
            <noscript>
                Please enable JavaScript to view the comments powered by <a href="https://giscus.app/">giscus</a>.
            </noscript>
        {{- end -}}
    </div>
{{- end -}}

{{- dict "comment" $commentConfig | dict "config" | merge (.Scratch.Get "this") | .Scratch.Set "this" -}}
